<section class="container mx-auto py-20 px-4" id="about">
  <h2 class="text-3xl font-bold mb-12 text-center">Sobre Mí</h2>
  <div class="flex flex-col md:flex-row gap-10 items-center">
    <div class="flex-1">
      <p class="text-lg mb-4 text-muted-foreground">
        Soy un apasionado desarrollador web con una sólida base en JavaScript, Angular y Python. Disfruto
        creando aplicaciones web limpias, eficientes y fáciles de usar.
      </p>
      <p class="text-lg mb-4 text-muted-foreground">
        Con formación en informática y un buen ojo para el diseño, aporto un enfoque holístico al desarrollo
        web. Estoy constantemente aprendiendo nuevas tecnologías y mejorando mis habilidades.
      </p>
      <p class="text-lg text-muted-foreground">
        Cuando no estoy programando, puedes encontrarme haciendo senderismo, leyendo blogs de tecnología o
        experimentando con nuevas tecnologías web.
      </p>
    </div>
    <div class="flex-1 flex justify-center">
      <div class="relative w-64 h-64 rounded-lg overflow-hidden shadow-lg">
         <img src="/assets/images/profile.jpeg" alt="Sobre Rodrigo Pozo Sánchez" class="absolute inset-0 w-full h-full object-cover" />
      </div>
    </div>
  </div>
</section>
