<nav class="bg-white mt-6">
  <div class="container mx-auto flex justify-between items-center p-4">
    <div class="flex items-center space-x-8">
      <!-- Foto y nombre a la izquierda -->
      <a href="/" class="flex items-center space-x-4">
        <img src="profile-pic.png" alt="Rodrigo Pozo Sánchez" class="w-12 h-12 rounded-full" />
        <span class="text-black font-semibold">Rodrigo Pozo Sánchez</span>
      </a>
    </div>

    <!-- Menú de navegación -->
    <div class="flex items-center space-x-8">
      <!-- Enlace "Inicio" -->
      <a href="/" class="text-black font-semibold transition duration-300 hover:text-orange-400">
        Inicio
      </a>
      <!-- Enlace "Sobre Mi" -->
      <a href="/sobre-mi" class="text-black font-semibold transition duration-300 hover:text-orange-400">
        Sobre Mi
      </a>
      <!-- Enlace "Contactame" -->
      <a href="/contactame" class="text-black font-semibold transition duration-300 hover:text-orange-400">
        Contactame
      </a>
    </div>
  </div>
</nav>
