<div [ngClass]="modoOscuro ? 'dark' : ''" class="min-h-screen">
  <!-- Barra de navegación -->
  <nav class="p-4 flex justify-between items-center">
    <h1 class="text-xl font-semibold text-gray-800 dark:text-white">Mi Portafolio</h1>
    
    <!-- Botón de cambio de tema -->
    <label class="switch">
      <input id="input" type="checkbox" [checked]="modoOscuro" (change)="cambiarModo()" />
      <div class="slider round">
        <div class="sun-moon">
          <svg id="moon-dot-1" class="moon-dot" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50"></circle>
          </svg>
          <svg id="moon-dot-2" class="moon-dot" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50"></circle>
          </svg>
          <svg id="moon-dot-3" class="moon-dot" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50"></circle>
          </svg>
          <svg id="light-ray-1" class="light-ray" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50"></circle>
          </svg>
          <svg id="light-ray-2" class="light-ray" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50"></circle>
          </svg>
          <svg id="light-ray-3" class="light-ray" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50"></circle>
          </svg>
        </div>
        <div class="stars">
          <svg id="star-1" class="star" viewBox="0 0 20 20">
            <path d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"></path>
          </svg>
        </div>
      </div>
    </label>
  </nav>
  
  <!-- Contenido Principal -->
  <div class="flex justify-center items-center min-h-screen">
    <div class="w-full sm:w-1/2 p-4">
      <h2 class="text-4xl font-bold mb-4 text-center text-gray-800 dark:text-green-500">
        ¡Bienvenido a mi Portafolio!
      </h2>
      <p class="text-center text-gray-600 dark:text-gray-300">Desarrollador Web - Creando experiencias digitales impactantes.</p>
    </div>
  </div>
</div>
