.indice {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  .puntos {
    list-style-type: none;
    padding: 0;
  }
  
  .puntos li {
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    transition: background-color 0.3s;
  }
  
  .puntos li.active .punto {
    background-color: #3498db;
  }
  
  .punto {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  .puntos li:hover {
    background-color: #2980b9;
  }
  